@page "/details"
@using Microsoft.EntityFrameworkCore
@using DuneLibrary.Models
@inject IDbContextFactory<DuneLibrary.Data.DuneLibraryContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Full Passage</PageTitle>

<h1>Full Passage</h1>

<div>
    <h2>Passage</h2>
    <hr />
    @if (passage is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">Passages</dt>
            <dd class="col-sm-10">@passage.Passages</dd>
            <dt class="col-sm-2">Book</dt>
            <dd class="col-sm-10">@passage.Book</dd>
            <dt class="col-sm-2">Chapter Number</dt>
            <dd class="col-sm-10">@passage.ChapterNum</dd>
            <dt class="col-sm-2">Author</dt>
            <dd class="col-sm-10">@passage.Author</dd>
            <dt class="col-sm-2">Series</dt>
            <dd class="col-sm-10">@passage.Series</dd>
            <dt class="col-sm-2">Organization</dt>
            <dd class="col-sm-10">@passage.Organization</dd>
            <dt class="col-sm-2">Full Passage Credit</dt>
            <dd class="col-sm-10">@passage.FullPassageCredit</dd>
            <dt class="col-sm-2">Word Count</dt>
            <dd class="col-sm-10">@passage.WordCount</dd>
        </dl>
        <div>
            <a href="@($"/edit?id={passage.Id}")">Edit</a> |
            <a href="@($"?BookNameDropdown=&OrganizationNameDropdown=")">Back to List</a>
        </div>
    }
</div>

@code {
    private Passage? passage;

    [SupplyParameterFromQuery]
    private int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        passage = await context.Passage.FirstOrDefaultAsync(m => m.Id == Id);

        if (passage is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
